*{
	font-family: sans-serif;
}

body {
	background-color: #1F3B4D;
	color: white;
}

.content-wrapper {
	display: flex;
	justify-content: center;
}

ul.experience {
	columns: 2;
}

.button {
	background-color: white;
	color: #1F3B4D;
	display: inline-block;
	padding: 0.75rem 1rem;
}

.button:hover {
	opacity: 0.75;
}
