*{
	font-family: sans-serif;
}

body {
	background-color: #1F3B4D;
	color: white;
}

body.light-mode {
	background-color: white;
	color: #1F3B4D;
}

.content-wrapper {
	display: flex;
	justify-content: center;
}

.content-main {
	position: relative;
}

ul.experience {
	columns: 2;
}

.button {
	background-color: white;
	color: #1F3B4D;
	display: inline-block;
	padding: 0.75rem 1rem;
}

.button:hover {
	opacity: 0.75;
}

body.light-mode .button {
	background-color: #1F3B4D;
	color: white;
}

body.light-mode .button:hover {
	opacity: 0.9;
}

.mode-button-wrapper {
	position: absolute;
	top: 0;
	right: 0;
}

.test {
	color: red;
}
